*.lyx
*.tex~
*.rel
*.aux
*.log
*.toc
*.nlo
*.gz
.DS_Store
master.bbl
master.blg
master.docx
master.out
master.lof
master.log
/master.dvi

master\.bcf

master\.run\.xml
/valbib.bib.bak
/tomatis.bib.bak
/master.lof
/master.pdf
/valbib.bib~
/valbib.bib~2
/valbib.bib~3
/valbib.bib~4
/valbib.bib~5
/masterjuin_utf8.pdf
